<tr id=<%= "expenditure_#{expenditure.id}" %>>
  <td class="align-middle"><%= ActionController::Base.helpers.number_to_currency(expenditure.amount) %></td>
  <td class="align-middle"><%= expenditure.title %></td>
  <td class="align-middle"><%= expenditure.category.name unless expenditure.category.nil? %></td>
  <td class="align-middle"><%= expenditure.date %></td>
  <td class="align-middle">
    <%= link_to "edit",
      edit_expenditure_path(expenditure),
      class: "btn btn-edit btn-sm",
      remote: true,
      'data-disable-with' => fa_icon('spinner spin').html_safe %>
    <%= link_to "delete",
      expenditure,
      method: :delete,
      class: "btn btn-danger btn-sm",
      remote: true,
      'data-disable-with' => fa_icon('spinner spin').html_safe %>
  </td>
</tr>
