<div class="modal-header">
  <h4 class="modal-title" id="expenditure_modal"><%= "#{action_name.capitalize} #{controller_name.singularize}" %></h4>
  <button type="button" class="close" data-dismiss="modal">x</button>
</div>
<%= form_for @expenditure, html: { class: "needs-validation form-horizontal", novalidate: "novalidate" }, remote: true do |f| %>
  <div class="modal-body">
    <div class="form-row">
      <div class="form-group col-sm-5">
        <%= f.label :amount %>
        <%= f.number_field :amount,
          class: "form-control",
          min: "0",
          max: "999999.99",
          step: "0.01" %>
        <div class="invalid-feedback">
          <i>should be lower than 10,000</i>
        </div>
      </div>

      <div class="form-group col-sm-7">
        <%= f.label :category %>
        <%= f.grouped_collection_select :category_id,
          @categories, :subcategories, :name,
          :id, :name,
          { include_blank: true },
          { class: "form-control custom-select" } %>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-sm-12">
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control", pattern: ".{0,50}" %>
      <div class="invalid-feedback">
        <i>should be shorter than 51 characters.</i>
      </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-sm-5">
        <%= f.label :date %>
        <%= f.text_field :date,
          value:  @expenditure.date || Time.zone.today,
          class: "form-control",
          id: "expenditure_date" %>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <%= f.button class: "btn btn-primary",
      'data-disable-with' => fa_icon('spinner spin', text: 'Please wait...').html_safe %>
  </div>
<% end %>
