  <table class="table table-sm table-hover" id="expenditures_table" style="width:100%">
    <thead class="thead-light">
      <tr id="sort">
        <th width="10%"><%= sort 'amount' %></th>
        <th><%= sort 'title' %></th>
        <th width="25%"><%= sort 'category_id', 'Category' %></th>
        <th width="10%"><%= sort 'date' %></th>
        <th width="12%"></th>
      </tr>
    </thead>
    <tbody>
      <%= render @expenditures %>
    </tbody>
  </table>
