<nav class="navbar navbar-static-top navbar-expand-lg navbar-dark bg-dark">
  <%= link_to "Budget tracker",
    root_path,
    class: "navbar-brand",
    style: "margin-right: 50px;" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <% if user_signed_in? %>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span id="navbar-user-name" class="nav-text">
              Logged in as: <strong><%= current_user.name %></strong>
            </span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "Your expenditures",
              expenditures_path,
              class: "dropdown-item" %>
            <div class="dropdown-divider"></div>
            <%= link_to "Settings",
              edit_user_registration_path,
              class: "dropdown-item" %>
            <%= link_to "Log out",
              destroy_user_session_path,
              method: :delete,
              class: "dropdown-item" %>
          </div>
        </li>
      </ul>
    <% else %>
      <div class="navbar-nav ml-auto">
        <%= link_to "Log in",
          new_user_session_path,
          class: "btn btn-primary nav-btn",
          role: "button" %>
        <%= link_to "Sign up",
          new_user_registration_path,
          class: "btn btn-secondary nav-btn",
          style: "margin-left: 10px;",
          role: "button" %>
      </div>
    <% end %>
  </div>
</nav>
